<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/abrantes</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>
		<property name="hibernate.connection.pool_size">25</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.default_schema">seg</property>
		<property name="connection.pool_size">1</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		
		<mapping class="br.com.abrantes.cmn.entity.Usuario"/>
		<mapping class="br.com.abrantes.cmn.entity.Cliente"/>
		<mapping class="br.com.abrantes.cmn.entity.log.UsuarioLog"/>
		<mapping class="br.com.abrantes.cmn.entity.Grupo"/>
		<mapping class="br.com.abrantes.cmn.entity.log.GrupoLog"/>
		<mapping class="br.com.abrantes.cmn.entity.TelaAcao"/>
		<mapping class="br.com.abrantes.cmn.entity.log.TelaAcaoLog"/>
		<mapping class="br.com.abrantes.cmn.entity.GrupoTelaAcao"/>
		<mapping class="br.com.abrantes.cmn.entity.log.GrupoTelaAcaoLog"/>
		<mapping class="br.com.abrantes.cmn.entity.Sistema"/>
		<mapping class="br.com.abrantes.cmn.entity.Acao"/>
		<mapping class="br.com.abrantes.cmn.entity.Estado"/>
		<mapping class="br.com.abrantes.cmn.entity.RecuperarSenha"/>
		<mapping class="br.com.abrantes.cmn.entity.Parametro"/>
		<mapping class="br.com.abrantes.cmn.entity.Audiencia"/>
		<mapping class="br.com.abrantes.cmn.entity.Diligencia"/>
		<mapping class="br.com.abrantes.cmn.entity.TpAudiencia"/>
		<mapping class="br.com.abrantes.cmn.entity.TpDiligencia"/>
		<mapping class="br.com.abrantes.cmn.entity.TpContratacao"/>
		<mapping class="br.com.abrantes.cmn.entity.OrigemProcesso"/>
		<mapping class="br.com.abrantes.cmn.entity.ArquivoAudiencia"/>
		<mapping class="br.com.abrantes.cmn.entity.ArquivoDiligencia"/>
	</session-factory>
</hibernate-configuration>
